.add-expense-form {
    display: flex;
    flex-direction: column;
}

.add-expense-form h2 {
    text-align: center;
}

.add-expense-form input,select {
    margin-bottom: 10px;
    margin-top: 5px;
}

.add-expense-btn {
    width: 55%;
    margin: 5px auto;
    padding: 1em .5em;
    border: 1px #000 solid;
    background-color: #fff;
}

.friends-included {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

.friend-item {
    margin: .25em;
}

.friend-split, .amount-paid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.amount-paid {
    margin-bottom: 10px;
}

#split-percentage, #itemized-split {
    width: 50px;
}

#amount-paid {
    width: 80px;
}