.LoginForm {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-height: 90vh;
}

.LoginForm h2 {
    text-align: center;
}

.LoginForm label {
    margin: 10px 0;
}

.LoginForm button {
    border: 1px #ccc solid;
    background-color: #fff;
    width: 75%;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
}