.sign-up-container {
    width: 100%;
}

.sign-up {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    width: 75%;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
  
  
  